body
{
	background:url('https://i.pinimg.com/736x/5f/de/f0/5fdef0bc3e5e1ae957423edc2902639f.jpg');
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}

h1
{
	color : white;
}

#loginbutton
{
	background-color: rgba(226, 77, 77, 0.871);
	color : white;
	font-size: 25px;
}